{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}

<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for name_num in category.all %}
                    <tr>
                        <td>{{ name_num.name }}</td>
                        <td>{{ name_num.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
